.expense {
	margin-left: 25px;
	padding: 15px;
}

.expense:hover {
	background-color: beige;
}

.expense-type label {
	margin-right: 10px;
}

.expense .add-more a {
	color: #a1caec;
}

a {
	cursor: pointer;
}

.expense .add-more {
	width: 10%;
	margin-left: 10px;
}

.expense .add-more:hover .expense-type {
	display: block;
	margin-left: 10px;
}

.expense .add-more .expense-type {
	display: none;
}