<div class="expense" *ngFor="let expense of expenses">
	{{ExpenseType[expense.expenseType]}} {{expense.id}} <span *ngIf="expense.id"> cost {{expense.GetExpenseTotalCost()}}</span>
	<div class="add-more">
		<span class="glyphicon glyphicon-plus" title="Add More"></span>
		<div class="expense-type">
			<div *ngIf="expense.expenseType !== ExpenseType.Computer && expense.expenseType !== ExpenseType.Server"><a (click)="AddExpense(expense, ExpenseType.Network)"> Network </a></div>
			<div *ngIf="expense.expenseType !== ExpenseType.Computer"><a (click)="AddExpense(expense, ExpenseType.Server)"> Server </a></div>
			<div><a (click)="AddExpense(expense, ExpenseType.Computer)"> Computer </a></div>
		</div>
	</div>
	<expense-hrchy [expenses]="expense.children"></expense-hrchy>
</div>

